@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android' ;
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: Arial, Helvetica, sans-serif;
    --font-destaque: "Bebas Neue", sans-serif, 'cursive';
    --font-android: 'android', 'cursive';
}  

body{
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}

strong{
    color: var(--cor5);
}

a.externo::after{
    content: '\00A0\1f517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor3),var(--cor5) );
    padding: 30px;
    text-align: center;
    min-height:  130px;
}

header > h1{
    font-family: var(--font-destaque);
    color: white;
    font-weight: 400;
    font-size:  3.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px var(--cor5);
}

header > p{
    font-family: var(--font-padrao);
    font-size: 1.2em;
    text-shadow: 2px 2px 0px var(--cor5);
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}

nav{
    background-color:var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.459);
}

nav > a{
    font-weight: bold;
    color: white;
    text-decoration: none; 
    padding: 6px;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: var(--cor3);
    border-radius: 5px;
}

main{
    background-color: white;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 1px 1px 10px 1px black;
}

main h1{
    color: var(--cor5);
    font-family: var(--font-android);
    font-weight: normal;
}

main h2{
    background-image: linear-gradient(to left, white,var(--cor1));
    color: var(--cor4);
    font-family: var(--font-android);
    font-size: 1.3em;
    font-weight: normal;
    text-indent: 10px;
}

main p{
    margin: 15px 0px;
    text-indent: 40px;
    text-align: justify;
    line-height: 1.5em;
}

main a{
    font-weight: bold;
    color:var(--cor5);
    text-decoration: none;
    background-color: var(--cor0);
    padding: 2px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}


main img{
    width: 100%;
}

main .imagen{
    display: block;
    margin: auto;
    max-width: 350px;
}

.video{
    display: block;
    margin: auto;
    max-width: 950px;
}

.video-container{
    background-color: rgb(4, 48, 11);
    padding: 20px;
    margin: -20px -20px;
    margin-top: 10px;
}

aside{
    background-color: var(--cor0);
    border-radius: 15px; 
    padding: 10px;
    margin-top: 40px;
    box-shadow: 1px 1px 10px 1px black;
}

aside > ul{
    list-style: '\2714\00A0\00A0'; /*NÃO É MUITO UTILIZADO PORQUE NAO É COMPATIVEL COM TODOS NAVEGADORES*/
    /*list-style-type: disc;*/
    list-style-position: inside;
    columns: 2;
}

aside > h3{
    color: white;
    text-indent: 10px;
    background-color:var(--cor5); 
    border-radius: 10px 10px 0px 0px; 
    padding: 5px;
    margin: -10px -10px 0px -10px; /*USANDO MARGEM NEGATIVA*/
}

footer{
    background-color:var(--cor5);
    text-align: center;
    font-size: 0.8em;
    color: white;
    padding: 5px;
    margin-top: 15px;
}

footer  a{
    color: white;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}
